{% extends 'base.html.twig' %}

{% block title %}Proterra Bus{% endblock %}

{% block fullsize %}
    <div class="col-12">

        <div class="jumbotron text-center">
            <h1 class="display-4">Vous êtes connecté !</h1>
            <h3 class="lead">Au boulot maintenant</h3>
            <hr class="my-4">
            <h4>Selon votre grade vous avez certaines options</h4>
            <p class="lead">
                <a class="btn btn-primary btn-lg" href="#" role="button">Admin Gestionnaire</a>
            </p>
            <p class="lead">
                <a class="btn btn-primary btn-lg" href="#" role="button">Admin Technicien</a>
            </p>
            <p class="lead">
                <a class="btn btn-primary btn-lg" href="#" role="button">Admin Dashboard</a>
            </p>
            <hr/>
            <p class="lead">
                <a class="btn btn-primary btn-lg" href="#" role="button">Gestionnaire Vehicule</a>
            </p>
            <p class="lead">
                <a class="btn btn-primary btn-lg" href="#" role="button">Gestionnaire DashBoard</a>
            </p>
            <hr/>
            <p class="lead">
                <a class="btn btn-primary btn-lg" href="#" role="button">Technicien Opération</a>
            </p>
            <p class="lead">
                <a class="btn btn-primary btn-lg" href="#" role="button">Technicien DashBoard</a>
            </p>

        </div>


    </div>
{% endblock %}